<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap" rel="stylesheet">
    <title>Simple Blog Sample</title>

</head>

<body>
    <h1>SIMPLE BLOG CREATER</h1>
    <div class="anchor"> <a href="new.html">New Blog</a></div>
     
<!--default card-->
<div class="card">
    <h1><b>Sample Title</b></h1>

    <img src="/images/<%=images[randomNumImg]%>.png" class="blogimg" alt="Preview Image">
    <div class="container">
    
    <h2>Post the content of the blog here.</h2>
  </div>
</div>
   
      
</body>
<footer>Copyright nadiCat</footer>
</html>